body {
  background-color: aliceblue;
  font-family: Helvetica, sans-serif;
}

#contenedor_maestro {
  display: flex;
  min-height: 100vh;
  background-color: rgb(206, 255, 255);
}

.form {
  margin: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(24, 23, 23);
  color: white;
  width: 90%;
  max-width: 440px;
  padding: 4.5em 5em;
  border-radius: 2%;
  text-align: center;
}

.form_tittle {
  font-size: 2rem;
  margin-bottom: .5em;
  font-weight: bold;
}

.form_container {
  margin-top: 3em;
}

.form_label {
  font-size: 25px;
  margin-top: 5%;
}

.form_input {
  display: block;
  margin: auto;
  border-color: grey;
}

label.error {
  color: darkred;
}

input.error, textarea {
  border: 2px solid darkred;
}

.head {
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.tithead {	
  color: white;
}

#nos_contacto {
  background-color: rgb(179, 244, 255);
}

a:hover{
  color:rgb(109, 109, 109);
}

/* checkmark */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  z-index: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  margin-bottom: 0px;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
/* checkmark */

h1, h5 {
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
  font-size: 130%;
}

.act{
  padding-top: 10px;
}

h6 {
  text-align:center;
}

img {
  width: 100%;
}

.logo {
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.logo2 {
  width: 20%;
  align-items: center;
}

a {	
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#volver {
  color: black;
  margin-left: auto;
  background-color: rgb(0, 122, 192);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#empresa, #info {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  background-color:rgb(226, 226, 226);
}

.caja {
  text-align: center;
}

p {	
  font-size: 140%;
  text-align: justify;
}

.las, .lab {
  font-size: 40px;
  margin-top: 2%;
  margin-left: 3%;
  color: black;
}